@model List<Portfolio>
@{
    ViewData["Title"] = "PortfolyoList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Portfolyo</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Portfolyo Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Portfolyo ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Başlık</th>
									<th scope="col">Alt Başlık</th>
									<th scope="col">Resim Url</th>
									<th scope="col">Repo Url</th>
									<th scope="col">Açıklama</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.PorfolioId</td>
										<td>@item.Title</td>
										<td>@item.SubTitle</td>
										<td>@item.ImageUrl</td>
										<td>@item.Url</td>
										<td>@item.Description</td>
										<td>
											<a href="/Portfolyo/DeletePortfolyo/@item.PorfolioId" class="btn btn-danger"><i class="la la-trash-o"></i> Sil</a>
										</td>
										<td>
											<a href="/Portfolyo/UpdatePortfolyo/@item.PorfolioId" class="btn btn-success"><i class="la la-pencil"></i> Güncelle</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/Portfolyo/CreatePortfolyo/" class="btn btn-primary"><i class="la la-plus-circle"></i> Yeni Portfolyo Girişi</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



